@media (max-width: 768px) {
  .learning-goal {
    p {
      font-size: 0.85rem !important;
      /* تصغير النصوص */
    }

    .card {
      min-height: 90px !important;
    }

    .boxshadowBg {
      padding: 15px !important;
      width: 100% !important;
    }

    h2 {
      font-size: 1.2rem !important;
    }

    /* جعل العناصر تحت بعضها بدون خروجها عن الشاشة */
    .row {
      margin: 0;
    }

    .col-md-6 {
      width: 100% !important;
    }

    /* تصغير الأيقونات */
    .d-flex.justify-content-center.align-items-center {
      width: 40px !important;
      height: 30px !important;
    }

    /* إزالة الأنميشن من الأزرار */
    .btn {
      font-size: 13px;
      padding: 10px;
      transition: none !important;
    }
  }
}