.profession {
  .box {
    width: 896px;
    height: auto;
    padding: 40px;
    border-radius: 27px;
    background-color: #181D19 !important;
  }

  .iconbg {
    background-color: var(--secondBgColor);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ✅ حل مشكلة الشاشات الصغيرة */
  @media (max-width: 768px) {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .col-6 {
      width: 100%;
    }

    .btn {
      font-size: 14px;
      /* تصغير حجم النص */
      padding: 12px;
      /* تصغير المسافات الداخلية */
    }

    .iconbg {
      width: 30px;
      /* تصغير حجم الأيقونة */
      height: 30px;
    }
  }
}