.navbar-toggler {
  all: unset ;
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  border: 1px solid #198754 !important;
  transition: .3s;

  .custom-toggler-icon {
    color: #198754;
    transition: color 0.3s ease-in-out;
    /* font-weight: bold; */
  }


  &:hover {
    background-color: #198754;

  }
&:focus {
  box-shadow: none !important;
}
  &:hover .custom-toggler-icon {
    color: white;
  }
}